# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/experiment

# screenpipe/*.exe
screenpipe/*.exe~
screenpipe/*.dll
screenpipe/*.dylib
screenpipe/*.so
screenpipe/# Test binary, built with `cargo test`
screenpipe/*.test
screenpipe/# Rust/Cargo specific files
screenpipe/*target
screenpipe/*Cargo.lock
screenpipe/# IDE specific files
screenpipe/.idea/
screenpipe/.vscode/
screenpipe/*.rs.bk
screenpipe/# act cli
screenpipe/.secrets
screenpipe/# db 
screenpipe/data/ 
screenpipe/text_json/
screenpipe/src-tauri/deno-*
screenpipe/# Tauri signing key
screenpipe/tauri_key_louis.key
screenpipe/pnpm-lock.yaml
screenpipe/.DS_Store
screenpipe/# Ignore onnxruntime-win-x64-gpu libraries
screenpipe/onnxruntime-win-x64-gpu*/
screenpipe/# ignore environment variables
screenpipe/.env
screenpipe/# JavaScript stuff
screenpipe/node_modules/
screenpipe/cn 




# dependencies
/node_modules
**/models
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.mp4

# testing
/coverage
/dist

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
